{% include 'header.html' %}

{% block content %}

<div class="sections" style="
        display: flex;
        justify-content:center;
        margin-top: 1%;
    ">


    <main style="
        width: 70%;
    ">
        <br>
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span
                class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Features</span></h1>

        <div class="buttons">
            <a href="/upload"><button type="button"
                    class="text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Share
                    your Files</button></a>
            <a><button type="button"
                    class="text-gray-900 bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Chat
                    with People</button></a>
        </div>
        <br>
        <br>

        <div class="helping-hands">

            <h2
                class="mb-4 text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl dark:text-white">
                Contributors</h2>

            <ul role="list" class="max-w-sm divide-y divide-gray-200 dark:divide-gray-700">
                <li class="py-3 sm:py-4">
                    <div class="flex items-center space-x-3">
                        <div class="flex-shrink-0">
                            <img class="w-8 h-8 rounded-full"
                                src="https://media.licdn.com/dms/image/D5603AQEBhLXlivif3Q/profile-displayphoto-shrink_800_800/0/1677041888579?e=2147483647&v=beta&t=CqPC4hbTUBEtmOqmXfMktWPMmUbkOeJbIxAPMOFEShs"
                                alt="Samrid Pandit">
                        </div>
                        <div class="flex-1 min-w-0">
                            <p class="text-sm font-semibold text-gray-900 truncate dark:text-white">
                                Samrid Pandit
                            </p>
                            <p class="text-sm text-gray-500 truncate dark:text-gray-400">
                                hello@samrid.me
                            </p>
                        </div>
                        <span
                            class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300">
                            <span class="w-2 h-2 mr-1 bg-red-500 rounded-full"></span>
                            Unavailable
                        </span>
                    </div>
                </li>
            </ul>

        </div>
    </main>
</div>

{% endblock %}

{% include 'footer.html' %} 
